nav.breadcrumb
    .container.breadcrumb__container
        a.breadcrumb__item(href="#") Lorem ipsum
        a.breadcrumb__item(href="#") Dolor sit amet
        a.breadcrumb__item(href="#") Lorem ipsum
        a.breadcrumb__item(href="#") Dolor sit amet
        span.breadcrumb__item.active Bootstrap