a.scroll-to-top(href="#anchor-navbar-top")
    span.caret-icon.top

footer
    section.footer-bar
            .footer-bar__email
                h3.footer-bar__h3 Prihláste sa k odberu noviniek na email
                .footer-bar__email-form
                    form(method="post")
                        input.form-control.footer-bar__input(type="text" name="email-sub-input" id="email-sub-input" placeholder="Zadajte emailovú adresu..." required)
                        button.btn.form-control.footer-bar__btn( type="submit" name="email-sub-button" id="email-sub-button") Odoberať


    section.footer-main
        .container
            .row
                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 O nákupu
                    a.footer-main__link(href="#") Obchodní podmínky
                    a.footer-main__link(href="#") Reklamační řád
                    a.footer-main__link(href="#") Jak nakupovat
                    a.footer-main__link(href="#") Doprava zdarma
                    a.footer-main__link(href="#") Ochrana osobních údajů
                    a.footer-main__link(href="#") Časté dotazy
                    a.footer-main__link(href="#") Nákup na splátky ESSOX

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 O společnosti
                    a.footer-main__link(href="#") Proč nakupovat u nás
                    a.footer-main__link(href="#") O audio technice
                    a.footer-main__link(href="#") Kamenná prodejna
                    a.footer-main__link(href="#") Poslechová místnost
                    a.footer-main__link(href="#") Kontakty
                    a.footer-main__link(href="#") Aktuality

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Uživatel
                    a.footer-main__link(href="#") Přihlášení
                    a.footer-main__link(href="#") Registrace
                    a.footer-main__link(href="#") Zapomenuté údaje

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Kontakty
                    p.footer-main__text Obuvkovo.sk
                    p.footer-main__text Topoľová ul. 2768/13
                    p.footer-main__text 92401 Galanta
                    br
                    p.footer-main__text info@obuvkovo.sk
                    p.footer-main__text 0918 669 804
                    a.footer-main__link(href="#") Více kontaktů



section.copyright
    .container.copyright__container
        .copyright__wrap
            h5.copyright__h5 Copyright © 2018 #[a.copyright__link(href=metaURL) #{metaSitename}] Všechna práva vyhrazena.
            h5.copyright__pull Vytvořeno v #[a.copyright__link(href=metaAuthorURL) #{metaAuthor}]
            p.copyright__farm #[a.copyright__farm-link(href="#") Postele z masivu] za nejlepší ceny, #[a.copyright__farm-link(href="#") Dětské boty] a oblečení, výroba bazénových krytů a prodej #[a.copyright__farm-link(href="#") Polykarbonátu], Frýdek-Místek je #[a.copyright__farm-link(href="#") FAJNEMJESTO], nejlepší DJ v okolí #[a.copyright__farm-link(href="#") DJ Jan Opěla]