.modal.fade(id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-info-heading" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content

            .modal-header.post__image-container
                img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-page-contact-thumb-large.jpg" data-src=URLbase+"img/page-contact-thumb-large.jpg" alt="#" title="#")
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span.cross-icon

            .modal-body.modal-info__body
                h5.modal-title(id="modal-info-heading") Príhlas sa k newsletteru a získaj výhody
                p Registrovaný uživatelia môžu kupovať až o 50% lacnejšie a využívať iné výhody.

                form(method="post" name="modal_news_form")
                    .form-group
                        label(for="news_form_email") Emailová adresa
                        input.form-control(type="email" name="news_form_email" id="news_form_email" autocomplete="email" required)
                    .form-group
                        button.form-control.btn(type="submit" name="news_form_submit" id="news_form_submit") Prihlásiť sa
                
                p Prihlásením na odber súhlasíte so #[a(href="#") spracovaním osobných údajov]
                    
