section.news-bottom
    .container
        h2 Novinky
        .row
            .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                include _news-single.pug

            .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                include _news-single.pug

            .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                include _news-single.pug

        .news-bottom-btn     
            a.btn.btn-ghost(href="#") Archív noviniek #[span.arrow-icon.btn__icon]
