- var lang = "cs";

- var title = "Obuvkovo.sk - najväčší eshop pre deti na Slovensku";

- var metaDescription = "Mayoral detské oblečenie a detská ortopedická obuv";

- var metaKeywords = "mayoral, mayoralmoda, d.d.step, protetika, demar";

- var metaAuthor = "Eline.cz";

- var metaAuthorURL = "http://eline.cz";

- var metaURL = "https://obuvkovo.sk";

- var metaSitename = "Obuvkovo.sk";


- var URLbase = "";

- var metaTwitterName = "@obuvkovo";

- var metaTwitterImg = URLbase+"img/placeholder-200x200.png";

- var metaFacebookName = "obuvkovo";

- var metaYoutubeName = "obuvkovo";

- var metaInstagramName = "obuvkovo";



- var ProductName = "MAYORAL chlapčenská obuv 42764-028 red";