/* ========================================================================== */
/* CART */
/* ========================================================================== */

.page-heading--cart{
	padding: 0;
	padding-top: 6rem;

	&::after{
		content: none;
	}
}
.page-heading--cart__wrap{
	@include flexbox();
	@include flex-direction(row);
}
.page-heading--cart__single{
	text-align: center;
	width: 25%;
	border-bottom: 2px solid $brand-secondary;
	opacity: 0.5;
	@include transition(0.2s ease opacity);

	&:hover, &:active, &:focus{
		text-decoration: none;
		opacity: 1;
	}
	&.pass{
		opacity: 1;
	}
	&.active{
		opacity: 1;
		border-bottom: 4px solid $brand-primary;

		& .page-heading--cart__title{
			color: $brand-primary;
		}
	}
}
.page-heading--cart__title{
	font-weight: 700;
	font-size: 1.8rem;
	color: $brand-secondary;
	margin: 0;
	padding: 3rem 0;
}
.page-heading--cart-responsive{
	display: none;
}
.page-heading--cart-responsive-push{
	display: none;
}

@media screen and (max-width:991px){
	.page-heading--cart{
		display: none;
	}
	.page-heading--cart-responsive{
		position: fixed;
		top: 56px;
		width: 100%;
		padding: 0;
		z-index: 5;
		height: 50px;
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);

		&::after{
			content: none;
		}
	}
	.page-heading--cart__control{
		height: 100%;
		position: relative;
		max-width: 80px;
		@include flex-grow(1);
		margin: 0;

		span{
			position: absolute;
			top: 50%;
			left: 50%;
			height: 12px;
			width: 12px;
			@include transform(translate(-50%, -50%) rotate(135deg));

			&.disabled{
				opacity: 0.5;
			}
			&.left{
				@include transform(translate(-50%, -50%) rotate(-135deg)); 
			}
			&.right{
				@include transform(translate(-50%, -50%) rotate(45deg)); 
			}
		}
	}
	.page-heading--cart__title{
		font-size: 1.8rem;
		font-weight: 500;
		@include flex-grow(1);
		margin: 0;
		color: $brand-secondary;
	}
	.page-heading--cart-responsive-push{
		height: 50px;
		display: block;
		width: 100%;
	}
}



.cart-item-top{
	@include flexbox();
	@include flex-direction(row);
	padding: 15px 0;
	margin-right: 0px;
	margin-left: 0px;
	border-bottom: 1px solid $border-grey;
}

.cart-item-top__col-1{
	max-width: 100px;
	width: 100%;
	@include flexbox();
	@include flex-direction(row);
	padding: 0;
} 
.cart-item-top__col-2{
	@include flex-grow(1);
	@include flexbox();
	@include flex-direction(row);
	padding: 0;
}
.cart-item-top__heading{
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0;
}
.cart-item-top__name{
	width: 50%;
}  
.cart-item-top__inner{
	width: 50%;
	padding: 0px;
	@include flexbox();
	@include justify-content(flex-start);
	@include flex-direction(row);
	
	& > div:last-child{
		text-align: right;
	}
}
.cart-item-top__qty, .cart-item-top__price, .cart-item-top__sum, .cart-item-top__delete{
	width: 30%;
	padding: 0px 5px;
	@include flex-grow(1);	
}
.cart-item-top__delete{
	width: 10%;
	@include flex-grow(1);
	text-align: right;
}


@media screen and (max-width: 768px){
	.cart-item-top{
		display: none;
	}
}

.cart-item-single{
	position: relative;
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	padding: 15px 0;
	margin-right: 0px;
	margin-left: 0px;
	border-bottom: 1px solid $border-grey;
	@include flex-wrap(nowrap);
	/*
	&:last-child{
		border-bottom: 0;
	}
	*/
}
.cart-item-single__col-1, .cart-item-single__col-2{
	@include flexbox();
	@include flex-direction(row);
	padding: 0;
}
.cart-item-single__thumb-wrap{
	position: relative;
	width: 100px;
	height: 100px;
	padding-left: 0;
}
.cart-item-single__thumb{
	@include absolute-position(0,0,0,0);
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(center);
	@include align-items(center);
}
.cart-item-single__img{
	max-height: 100%;
}
.cart-item-single__col-2{
	@include flex-grow(1);	
}
.cart-item-single__name-wrap{
	width: 50%;
	padding: 0 10px;
	@include flexbox();
	@include justify-content(center);
	@include flex-direction(column);	
}
.cart-item-single__name{
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 1.7rem;
	font-weight: 500;
	color: $text-primary;
}
.cart-item-single__stock{
	color: $green-main;
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
}	
.cart-item-single__inner{
	width: 50%;
	@include flexbox();
	@include justify-content(flex-start);
	@include flex-direction(row);
	padding: 0;
}
.cart-item-single__qty-wrap, .cart-item-single__price-wrap, .cart-item-single__sum-wrap, .cart-item-single__delete-wrap{
	width: 30%;
	@include flexbox();
	@include justify-content(center);
	@include flex-direction(column);
	@include flex-grow(1);
	padding: 0 5px;
}
.cart-item-single__qty-wrap{
	color: $text-primary;
}
.cart-item-single__qty{
	max-width: 100px;
}
.cart-item-single__qty-text{
	margin: 0;
	font-weight: 500;
}
/*
.cart-item-single__price-wrap{

}
*/
.cart-item-single__price-old{
    text-decoration: line-through;
    opacity: 0.8;
    font-size: 13px;
	line-height: 1;
	font-weight: 500;
}
.cart-item-single__price{
	font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}
/*
.cart-item-single__sum-wrap{

}
*/
.cart-item-single__sum{
	color: $text-red;
    font-size: 2rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
}
.cart-item-single__delete-wrap{
	text-align: right;
	width: 10%;
	@include align-items(center);
}
.cart-item-single__delete{
	opacity: 0.3;
	padding: 5px;
	border-radius: 999px;
	border: 2px solid $border-dark;
	@include transition(0.2s ease opacity);

	&:hover{
		opacity: 1;
	}
}
.cart-item-single__delete-icon{
	height: 12px;
	width: 12px;	
}

@media screen and (max-width: 768px){
	.cart-item-single{
		background: $bg-light;
		padding: 15px;
		margin: 15px 0;
		border: 0;
	}
	.cart-item-single__col-1, .cart-item-single__col-2{
		position: static;
	}
	.cart-item-single__col-1{
		padding-bottom: 0px;
	}
	.cart-item-single__col-2{
		@include flex-direction(column);
	}
	.cart-item-single__thumb-wrap{
		width: 80px;
		height: 80px;
		margin-right: 15px;	
	}
	.cart-item-single__thumb-img{
		width: 80px;
		margin-right: 15px;
	}
	.cart-item-single__name-wrap{
		padding: 0;
		width: 100%;
		padding-right: 30px;
	}
	.cart-item-single__inner{
		width: 100%;
		padding: 0;
		padding-top: 10px;
	}
	.cart-item-single__qty-wrap, .cart-item-single__price-wrap, .cart-item-single__sum-wrap, .cart-item-single__delete-wrap{
		width: 33.333%;
		@include flex-grow(1);
	}
	.cart-item-single__qty-wrap{
		padding: 0;
	}
	.cart-item-single__price-wrap{
		display: none;
	}
	.cart-item-single__sum-wrap{
		padding: 0;
		text-align: right;
	}
	.cart-item-single__delete-wrap{
		position: absolute;
		top: 0;
		padding: 0;
		width: auto;
		right: 0;
		@include translate(-10px, 10px);
	} 
}

.cart-price-overview{
	padding: 2.5rem 0;
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	border-bottom: 1px solid $border-primary;
	margin-bottom: 4rem;
}
.cart-price-overview__text, .cart-price-overview__price{
	margin: 0;
	@include flex-grow(1);
}
.cart-price-overview__text{
	font-size: 1.8rem;
	font-weight: 500;
}
.cart-price-overview__price{
	@include flexbox();
	@include justify-content(flex-end);
	color: $red-main;
	font-weight: 600;
	font-size: 2.2rem;
}
.cart-price-overview__number{
	margin-right: 0.8rem;
}

@media screen and (max-width: 768px){
	.cart-price-overview{
		/*display: none;*/
		margin-bottom: 2rem;
	}
}

.cart-price-overview-responsive{
	display: none;
}
@media screen and (max-width: 768px){
	.cart-price-overview-responsive{
		position: fixed;
		display: block;
		bottom: 0;
		left: auto;
		background: $white;
		z-index: 8;
		padding: 5px;
		width: 100%;
		@include flexbox();
		@include flex-direction(row);
		@include align-items(center);  
		@include box-shadow(0px,0,10px,$black-transparent-25);
	}
	.cart-price-overview-responsive__price-wrap{
		@include flex-grow(1);
		padding-right: 15px;
	}
	.cart-price-overview-responsive__text{
		margin: 0;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 5px;
	}
	.cart-price-overview-responsive__price{
		margin: 0;
		color: $red-main;
		font-size: 2rem;
		line-height: 1;
	}
	.cart-price-overview-responsive__btn-wrap{
		@include flexbox();
		@include flex-grow(1);
		@include justify-content(flex-end);
	}
	.cart-price-overview-responsive__btn{
		width: 100%;
	}
}

.cart-bottom-btns{
	@include flexbox();
	@include flex-direction(row);
	padding: 4rem 0 0 0;

	& .btn{
		margin-right: 10px;

		&:last-child{
			margin-left: auto;
			margin-right: 0;
			order: 2;
		}
	}
}
@media screen and (max-width: 768px){
	.cart-bottom-btns{
		@include flex-direction(column);
		@include justify-content(center);
		padding: 0 0 15px 0;

		& .btn{
			margin: 0;
			margin-right: 0px;
			margin-bottom: 10px;
			width: 100%;

			& span{
				display: none;
			}
			& .btn__icon{
				display: block;
			}
		}
	}
}

.cart-sidebar{
	background: $bg-white;
	padding: 15px;
	top: 15px;
	margin-bottom: 2rem;
	z-index: 2;
	border: 1px solid $border-primary;
	border-radius: $border-radius-primary;

	& h3{
		margin-bottom: 10px;
		line-height: 1;
	}
	& .cart-sidebar-item-single{
		@include flexbox();
		@include flex-direction(row);
		@include justify-content(center);  
		padding: 10px 0;
		border-bottom: 1px solid $border-grey;

		&:last-child{
			border: 0;
		}
		& .cart-sidebar-item-single-img{
			max-width: 80px;
			min-width: 80px;
			width: 100%;
		}
		& .cart-sidebar-item-single-desc-wrap{
			padding-left: 10px;
			@include flex-grow(1);

			& .cart-sidebar-item-single-name{

				& p{
					font-size: 14px;
					font-weight: 500;
					line-height: 1.2;
					max-height: 30px;
					overflow: hidden;
					margin: 0;
				}
			}
			& .cart-sidebar-item-single-qty{
				padding: 5px 0 2px 0;

				& p{
					font-size: 13px;
					margin: 0;
					font-weight: 500;
					opacity: 0.8;
				}
			}
			& .cart-sidebar-item-single-price-wrap{
				@include flexbox();
				@include flex-direction(row);
				@include align-items(center);  

				& .cart-sidebar-item-single-stock{
					font-size: 13px;
					color: $green-main;
					font-weight: 500;
					@include flex-grow(1);
				}
				& .cart-sidebar-item-single-price{
					font-size: 15px;
					color: $red-main;
					font-weight: 500;
					@include flex-grow(1);
					text-align: right;
				}
			}
		} 
	}
	& .cart-sidebar-price-sort{
		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);
		padding-top: 15px;

		& .cart-sidebar-price-sort-row{
			@include flexbox();
			@include flex-direction(row);
			width: 100%;

			&:nth-child(2){
				margin-bottom: 10px;
			}
		}
		& p{
			margin: 0;
			@include flex-grow(1);
			font-size: 14px;
			font-weight: 500;
		} 
		& span{
			font-size: 14px;
			font-weight: 500;  
		}
		& h4{
			font-weight: 500;
			font-size: 1.6rem;
			color: $red-main;
			margin: 0;
			@include flex-grow(1);
			text-align: right;
		}
	}
}
@media screen and (max-width: 1100px){
	.cart-sidebar .cart-sidebar-item-single .cart-sidebar-item-single-img{
		max-width: 60px;
		min-width: 60px;
		width: 100%;
	}
}

@media screen and (max-width: 991px){
	.cart-sidebar{
		display: none;
	}
}

.cart-shipping-payment-overview{
	margin-top: 2rem;
	@include flexbox();
	@include flex-direction(row);
}
.cart-shipping-payment-overview__title{
	margin: 0;
	@include flex-grow(1);
}
.cart-shipping-payment-overview__single{
	@include flexbox();
	@include flex-direction(row);
	@include justify-content(flex-end);
	@include flex-grow(1);
}
.cart-shipping-payment-overview__name{
	margin: 0;
	padding-right: 10px;
	font-weight: 500;
}
.cart-shipping-payment-overview__price{
	font-weight: 500;
	color: $red-main;
}

@media screen and (max-width: 768px){
	/*
	.cart-shipping-payment-overview{
		display:none;
	}
	*/
}
.cart-user-info-overview{
	margin-top: 2rem;
	padding-bottom: 3rem;
}
.cart-user-info-overview__title{
	margin-bottom: 2rem;
	font-size: 2rem;
	font-weight: 700;
}
.cart-user-info-overview__title-number{
	color: $brand-primary;
}
.cart-user-info-overview__single{
	@include flex-grow(1);
	margin-top: 2rem;
	padding: 0 10px;
}
.cart-user-info-overview__single-content{
	background: $light-grey;
	border: 1px solid $border-grey;
	padding: 20px;
}
.cart-user-info-overview__text{
	font-size: 1.5rem;
	font-weight: 500;
}
.cart-user-info-overview__strong{
	font-weight: 700;
}



.cart-user-note{
	margin-top: 4rem;
	font-weight: 500;
}
.cart-user-note__title{
	margin-bottom: 2rem;
	font-size: 2rem;
}

.cart-terms-checkbox{
	margin-top: 2rem;   
}

.cart-empty{
	@include flexbox();
	@include flex-direction(column);
	@include align-items(center);
	padding: 8rem 0;
}
.cart-empty__wrap{
	background: $light-grey;
	border-radius: 999px;
	padding: 30px;
	position: relative;
}
.cart-empty__icon{
	height: 60px;
	width: 60px;
	opacity: 0.5;

	&::before, &::after{
		border-width: 5px;
	}
}
.cart-empty__icon-small{
	@include center(both);
	margin-top: 8px;
	opacity: 0.5;		
}
.cart-empty__title{
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
}
.cart-empty__strong{
	font-size: 1.6rem;
	margin-bottom: 1rem;
	text-align: center;
}
.cart-empty__text{
	margin-bottom: 4rem;
	text-align: center;
}

.cart-empty--success{
	.cart-empty__title{
		color: $green-main;
	}
}
.cart-free-shipping{
	border: 2px solid $green-main;
    padding: 1.5rem;
    border-radius: $border-radius-primary;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    margin-bottom: 4rem;
}
.cart-free-shipping__text{
    color: $green-main;
    text-align: center;
    margin: 0;
    padding-left: 15px;
	font-weight: 500;
	font-size: 1.6rem;
}