.forum-post{
	border-bottom: 1px solid $border-grey;
	padding: 4rem 0;
}
.forum-post__question{
	padding: 0rem;
}
.forum-post__answer{
	background: $light-grey;
	border: 1px solid $border-grey;
	padding: 2rem;
	margin-left: 4rem;
	margin-top: 2rem;
}
.forum-post__heading{
	font-family: $font-family-alt;
	font-weight: 600;
	font-size: 2.4rem;

	span{
		opacity: 0.6;
	}
}
.forum-post__author, .forum-post__date{
	padding-right: 10px;
	span{
		opacity: 0.8;
	}
}
.forum-form{
	background: $light-grey;
	border: 1px solid $border-grey;	
	padding: 2rem;
}
.forum-form__heading{
	margin-bottom: 2rem;
	font-family: $font-family-alt;
	font-weight: 600;
	font-size: 3rem;
}