.modal-dialog {
    background: transparent;
    height: 100%;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    margin: 0 auto;
    padding: 10px;
}
.modal-content{
    border-radius: $border-radius-primary;
    border: 0;
}
.modal-header{
    position: relative;
    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    padding: 20px;

    .close{
        margin: 0;
        height: 100%;
        padding: 10px;
    }
}
.modal-title{
    font-size: 3rem;
    font-weight: 600;
    color: $brand-secondary;
}
.modal-body{
    padding: 20px;
    .cart-item-single{
        border: 0;
    }
}
.modal-footer{
    @include justify-content(flex-start);
    padding: 20px;

    & .btn:last-child{
        margin-left: auto;
        margin-right: 0;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 800px;
    }
}
@media (max-width: 575px){
    .modal-header, .modal-body, .modal-footer{
        padding:  10px;
    }
}