/*------------------------------------*\
     NAV TABS
\*------------------------------------*/

.nav-tabs .nav-item{

    &:last-child .nav-link{
        border-right: 1px solid $border-grey;
    }
    &:first-child .nav-link.active{
        border-right-color: transparent;
    }

    &:last-child .nav-link.active{
        border-left-color: $border-grey;
        border-right-color: $border-grey;
    }
    &:not(:first-child):not(:last-child) .nav-link.active{
        border-left-color: $border-grey;
        border-right-color: transparent;
    }
}
.nav-tabs .nav-link{
    min-height: 46px;
    @include flexbox();
    @include align-items(center);
    @include flex-direction(row);
    padding: 10px 2rem;
    color: $brand-secondary;
    background: $light-grey;
    border: 1px solid $border-primary;
    border-right: 0;
    border-radius: 0;
    font-size: 1.6rem;
    font-weight: 700;

    &.active{
        background: $bg-white;
        border-bottom-color: $white;
    }
    &.important{
        background: $brand-secondary;
        color: $text-white;
    }
}

@media screen and (max-width:460px){
    .nav-tabs{ 
        & .nav-item{
            @include flex-grow(1);
        }
    }
}