/*------------------------------------*\
    NEWS SINGLE
\*------------------------------------*/

.news-single{
    background: transparent;
    color: $white;
    position: relative;   
    overflow: hidden;
    margin: 10px 0 30px 0;
    width: 100%;
    display: block;

    &:hover, &:active, &:focus{
        color: $white;
        text-decoration: none;
    }
}
.news-single__thumbnail{
    z-index: 0;
    border-radius: $border-radius-primary;
    overflow: hidden;
}

.news-single__top{
    min-height: 180px;
}
.news-single__date{
    padding: 0px;
    color: $text-primary;
    font-size: 1.5rem;
    opacity: 0.75;
}
.news-single__bottom{
    padding: 15px 0 0 0;
    background: transparent;
}
.news-single__heading{
    font-size: 1.8rem;
    color: $text-primary;
    margin-bottom: 5px;
    line-height: 1.3;
}
.news-single__excerpt{
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
    text-overflow: ellipsis;  
    font-weight: 400;
}

@media screen and (max-width:991px){
    .news-single{
        margin: 10px 0;
    }
}