/*------------------------------------*\
    PAGINATION
\*------------------------------------*/

.pagination{
    @include justify-content(center);
    margin: 2rem 0 4rem 0;
}
.page-item{
    padding: 5px;

}
.page-item.active .page-link{
    background: $brand-primary;
    color: $white;
}
.page-link{
    padding: 10px 15px;
    color: $brand-secondary;
    border: 0;
    height: 42px;
    width: 42px;
    background: $light-grey;
    border-radius: $border-radius-round;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    &:hover, &:active, &:focus{
        background: $brand-secondary;
        color: $white;
    }
}
.page-item:last-child .page-link {
    border-top-right-radius: $border-radius-round;
    border-bottom-right-radius: $border-radius-round;
}