.subcategories-grid{
margin-bottom: 4rem;
}
.subcategories-grid__single{
    background: $dark-grey;
    display: block;
    color: $white;
    padding: 1.5rem 2.5rem;
    margin: 10px 0;
    border-radius: $border-radius-primary;

    &:hover, &:active, &:focus{
        color: $white;
        text-decoration: none;
        background: $darkest-grey;
    }
}
.subcategories-grid__icon{
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;

    &::before{
        border-color: $orange-main;
    }
    &::after{
        background: $orange-main;
    }  
}

.top-products {
    margin-bottom: 0rem;
    position: relative;
    padding: 0;
}
.top-products__title-wrap{
    position: relative;
    z-index: 2;
    text-align: center;
    margin-bottom: 3rem;

    &::before{
        content: "";
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
        @include center(both);
        width: 100%;
        height: 3px;
        z-index: -1;
    }
}
.top-products__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0rem;
    font-family: $font-family-alt;
    font-weight: 600;
    background: $bg-white;
    z-index: 2;
    display: inline-block;
    padding: 0 2rem;
}
@media screen and (min-width:992px){
    .top-products {
        margin-bottom: 0rem;
        padding: 3rem 0;
    }
}


.product-category{
    @include flexbox();
    @include flex-direction(row);
}
.product-category__content{
    @include flexbox();
    @include flex-direction(column);
    width: calc(100% - 310px);
}

.navbar-side{
    @include flexbox();
    @include flex-shrink(0);
    @include flex-direction(column);
    width:290px;
    margin-right: 20px;
}
@media screen and (max-width:1200px){
    .product-category__content{
        width: calc(100% - 290px);
    }
    .navbar-side{
        width:270px;
    }
}
.navbar-side__single{
    margin-bottom: 20px;
    border-radius: $border-radius-primary;
    overflow: hidden;
    width: 100%;
}
.navbar-side__heading{
    background: $brand-secondary;
    padding: 0px 20px;
    height: 54px;
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
}
.navbar-side__title{
    color: $text-white;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}
.navbar-side__content{
    background: $bg-light;
    padding: 0;
}
.navbar-side__link{
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(flex-start);
    @include align-items(center);
    padding: 0 20px;
    height: 46px;
    border-bottom: 1px dashed $border-primary;

    &:last-child{
        border: 0;
    }
    &:hover, &:active, &:focus{
        background: $brand-primary;
        border: 0;
        color: $text-white;
        text-decoration: none;
    }
}
.navbar-side__nav-tabs{
    @include flex-wrap(nowrap);
}
.navbar-side__nav-item{
    @include flex-grow(1);
}
.navbar-side__nav-link{
    font-size: 13px !important;
    padding: 0 10px !important;
    @include justify-content(center);
    background: $bg-white !important;

    &.active{
        background: $bg-light !important;
        border-bottom-color: $bg-light !important;
    }
    img{
        width: 20px;
    }
}

@media screen and (max-width:991px){
    .product-category__content{
        width: 100%;
    }
    .navbar-side{
        display: none;
    }
}